<%= stylesheet_link_tag 'style' %>

<div class="container">
  <img src ='<%= @user.photo %>' class="userImg" alt="User Photo">
  <div class="userCon">
    <h1 class="userName"><%= @user.name %></h1>
    <p class="Upostcount"><strong>Number of Posts: <%= @user.posts.count %></strong></p>
  </div>
</div>

<div class="bio">
  <h1>Bio:</h1>
  <p class="bioText"><%= @user.bio %></p>
</div>

<% if @user.recent_posts.any? %>
  <% @user.recent_posts.each do |post| %>
    <div class="recPost">
      <h3><strong>Post: <%= post.title %></strong></h3>
      <p class="pText"><%= post.text %></p>
      <div class="comLik">
        <p><strong>Comments:</strong> <%= post.comments_counter %></p>
        <p><strong>Likes:</strong> <%= post.likes_counter %></p>
      </div>
    </div>
  <% end %>
<% end %>

<%= link_to "Add New Post", new_user_post_path(@user), class: "newPostBtn" %>

<button class="seeAllPostBtn">
  <%= link_to 'See all posts', user_posts_path(@user.id) %>
</button>