<div class="recPost">
  <h2>Post #<%= @post.id %> by <%= @post.author.name %></h2>
   <div class="comLik">
  <p class="postCom">Comments: <%= @post.comments.count %>, Likes: <%= @post.likes.count %></p>
  </div>
  <div class='userPost'>
    <p><%= @post.text %></p>
  </div>
  
</div>

<h2>Comments</h2>
<div class="userCom">
  <% @comments = @post.comments %>
  <% @comments.each do |comment| %>
    <div class="comment-card">
      <% if comment.user.present? %>
        <p><strong><%= comment.user.name %>:</strong> <%= comment.text %></p>
      <% else %>
        <p><strong>Anonymous:</strong> <%= comment.text %></p>
      <% end %>
    </div>
  <% end %>
</div>